

.mainFxmlClass {
    /* ======= CORES BASE ======= */
    /*
    
    Background: #032221
    
    Cor lateral: #03624c
    
    Detalhes: #2cc295
    
    Branco: #ffffff
    
    Vermelho: #ff0000
    
    */

    /* ======= LABELS ======= */

    /* ======= LABELS HOVER ======= */

    /* ======= BOTÕES ======= */

    /* ======= BOTÕES HOVER ======= */

    /* ======= BOXES ======= */
    
}
