/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    /* ======= CORES BASE ======= */
    /*

    Background: #032221

    Cor lateral: #03624c

    Detalhes: #2cc295

    Branco: #ffffff

    Vermelho: #ff0000
    
    Azul: #0038FF

    */

    /* ======= LABELS ======= */

    #lblBemVindo{
        -fx-fonnt-family: "Verdana";
        -fx-font-size: 16px;
        -fx-font-weight: bold;
        -fx-text-fill: #ffffff;
    }

    /* ======= BOXERS ======= */

    #anRelatorios{
        -fx-background-color: #032221;
        -fx-effect: dropshadow(three-pass-box, rgb(0,0,0,0.8), 10, 0, 0, 0);
        -fx-border-radius: 7px; 
        -fx-background-radius: 7px;
    }

    /* ======= LIST VIEW ======= */

    #lstRelatorios{
        -fx-background-color: #2cc295;
        -fx-border-color: #00DF81;
        -fx-border-width: 2;
        -fx-border-radius: 7px;
        -fx-background-radius: 7px;
        -fx-padding: 5;
        -fx-font-family: "Verdana";
        -fx-font-size: 13px;
        -fx-text-fill: #032221;
    }

    /* ======= TEXT AREA ======= */

    #txtRelatorio{
        -fx-font-family: "Verdana";
        -fx-font-size: 14px;

        /* Cores */
        -fx-text-fill: #000000;
        -fx-background-color: transparent;

        /* Borda externa */
        -fx-border-color: #2CC295;
        -fx-border-width: 2;
        -fx-border-radius: 8;
        -fx-background-radius: 8;

        /* Espaçamento interno */
        -fx-padding: 8;
    }

    /* ======= BOTÕES ======= */

    #btnVisualizar{
        -fx-background-color: #03624c;
        -fx-text-fill: #032221;
        -fx-border-radius: 7px;
        -fx-background-radius: 7px;
        -fx-cursor: hand;
        -fx-font-weight: bold;
    }

    #btnExcluir{
        -fx-background-color: #03624c;
        -fx-text-fill: #032221;
        -fx-border-radius: 7px;
        -fx-background-radius: 7px;
        -fx-cursor: hand;
        -fx-font-weight: bold;
    }

    #btnAtualizar{
        -fx-background-color: #03624c;
        -fx-text-fill: #032221;
        -fx-border-radius: 7px;
        -fx-background-radius: 7px;
        -fx-cursor: hand;
        -fx-font-weight: bold;
    }

    #btnVoltar{
        -fx-background-color: transparent;
        -fx-border-color: #2CC295;   /* borda fina */
        -fx-border-width: 1.2px;
        -fx-border-radius: 6px;
        -fx-background-radius: 6px;

        -fx-padding: 3px 10px;
        -fx-cursor: hand;
    }

    /* ======= BOTÕES HOVER ======= */

    #btnVisualizar:hover{
        -fx-effect: dropshadow(three-pass-box, rgb(44,194,149,0.8), 10, 0, 0, 0);
        -fx-text-fill: #ff0000
    }

    #btnExcluir:hover{
        -fx-effect: dropshadow(three-pass-box, rgb(44,194,149,0.8), 10, 0, 0, 0);
        -fx-text-fill: #ff0000
    }

    #btnAtualizar:hover{
        -fx-effect: dropshadow(three-pass-box, rgb(44,194,149,0.8), 10, 0, 0, 0);
        -fx-text-fill: #ff0000
    }

    #Voltar:hover{
        -fx-effect: dropshadow(three-pass-box, rgb(44,194,149,0.8), 10, 0, 0, 0);
        -fx-text-fill: #ff0000
    }


}
